
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# 临时文件
*.log
*.tmp
*.swp
*.bak
*.out

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.classpath
.project
.settings/
.springBeans
.apt_generated
.factorypath
.sts4-cache

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

### Gradle ###
build/
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/

### Java ###
*.class
*.jar
*.war
*.ear

### Spring Boot ###
/target/
!/src/main/**/target/
!/src/test/**/target/
spring.log

HELP.md